html    {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    padding: 20px;
}

.nav    {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: flex-start;
    gap: 20px;
    background-color: lightgrey;
}

.nav__link {
    margin-left: 20px;
    padding: 20px;
    text-decoration: none;
    color: red;
}

.nav__link:nth-child(4) {
    position: absolute;
    top: 0 ;
    right: 0;
    margin-right: 30px;
}

.banner {
    width: 100%;
    display: flex;
    gap: 10px ;
    height: 1021px;
    margin: 24px;
    padding: 16px;
    background-color: lightgray;
}

.banner__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.banner__container-item{
    width: 100%;
    background-color: red;
    display: block;
    height: 50%;
}

.banner__article  {
    height: 100%;
    width: 50%;
    background-color: red;
}

.article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px ;
    height: 1150px;
    margin: 24px 0;
    padding: 16px;
    background-color: lightgray;
}

.list   {
    width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
}

.list__item {
    position: relative;
    width: 90%;
    height: 74px;
    background-color: red;
    border-radius: 5px;
}

.list__item::before  {
    content: '';
    position: absolute;
    left: 0;
    width: 50px; 
    height: 50px; 
    background-color: red; 
    border-radius: 50%;  
    transform: translate(-150%, -50%);
    top: 50%;
}

.article__wrap {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
}

.article__left   {
    height: 620px;
    width: calc(50% - 10px);
    background-color: red;
}

.article__right    {
    height: 620px; 
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;

}

.article__right-wrap {
    display: flex;
    height: 258px;
    width: 100%;
    background-color: red;
}

.article__right-content  {
height: 350px;
display: flex;
flex-direction: row;
width: 100%;
gap: 10px;
align-items: flex-end;
justify-content: space-between;
}

.article__right-content-item {
    height: 100%;
    width: 50%;
    background-color: red;
}


.go-back  {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: block;
    padding: 16px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    transition: background 1s ease-in-out;
  }

.footer   {
    position: relative;
    bottom: 0;
    z-index: -1;
    padding: 30px;
    text-align: center;
    background-color: skyblue;
    color: #fff;
  }

.footer__wrap   {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__wrap-left   {
    height: 61px;
    width: 967px;
    background-color: red;
}

.footer__wrap-right    {
    display: flex;
    align-items: flex-end;
    height: 71px;
    width: 99px;
    background-color: red;
}

a.go-back:hover {
    background-color: aqua;
    opacity: 0.8;
}